{%- if S_CALENDARMONO_INPUT is defined -%}
<div class="calendarmono-input"
data-min-duration="{{- CALENDARMONO_MIN_DURATION_DAYS -}}" data-max-duration="{{- CALENDARMONO_MAX_DURATION_DAYS -}}"
data-lower-limit="{{- CALENDARMONO_LOWER_LIMIT_DAYS -}}" data-upper-limit="{{- CALENDARMONO_UPPER_LIMIT_DAYS -}}"
data-required="{{- S_CALENDARMONO_REQUIRED -}}"
data-date-format="{{- CALENDARMONO_DATE_FORMAT -}}">

<dl>
	<dt>
		<label for="calendarmono_date_start">{{- lang('CALENDARMONO_EVENT_DATE') -}}{{- lang('COLON') -}}</label>
	</dt>
	<dd>
		{%- include '@marttiphpbb_calendarmono/include/date_input.html' with {'name': 'calendarmono_date_start', 'value': CALENDARMONO_DATE_START, 'placeholder': CALENDARMONO_PLACEHOLDER, 'required': S_CALENDARMONO_REQUIRED} only -%}
		{%- if S_CALENDARMONO_TO_INPUT -%}&nbsp;
			{{- lang('CALENDARMONO_TO') -}}{{- lang('COLON') -}}&nbsp;
			{%- include '@marttiphpbb_calendarmono/include/date_input.html' with {'name': 'calendarmono_date_end', 'value': CALENDARMONO_DATE_END, 'placeholder': CALENDARMONO_PLACEHOLDER, 'required': S_CALENDARMONO_REQUIRED} only -%}
		{%- endif -%}
	</dd>
</dl>
</div>

{%- if CALENDARMONO_DATEPICKER_THEME -%}
	{%- INCLUDECSS '@marttiphpbb_calendarmono/jquery-ui/themes/' ~ CALENDARMONO_DATEPICKER_THEME ~ '/jquery-ui.min.css' -%}
{%- endif -%}

{%- INCLUDEJS '@marttiphpbb_calendarmono/js/posting_input.js' -%}

{%- if true or S_CALENDARMONO_JQUERY_UI_DATEPICKER -%}
	{%- INCLUDEJS '@marttiphpbb_calendarmono/jquery-ui/ui/minified/datepicker.min.js' -%}
{%- endif -%}

{%- if CALENDARMONO_USER_LANG_SHORT != 'en' and S_CALENDARMONO_JQUERY_UI_DATEPICKER_I18N -%}
	{%- INCLUDEJS '@marttiphpbb_calendarmono/jquery-ui/ui/i18n/datepicker-' ~ CALENDARMONO_USER_LANG_SHORT ~ '.js' -%}
{%- endif -%}

{%- endif -%}
